<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="referrer" content="no-referrer">
  <title>好心情 -  wav2lip</title>

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>

</head>
<body>
  <div class="jumbotron">
    <h1 class="display-4">欢迎来到好心情Wav2Lip</h1>
    <hr class="my-4">
    <p>请上传声音和形象开始生成自己的数字人。</p>
    <a class="btn btn-primary btn-lg" href="#" target="_blank" role="button">生成</a>
    <a class="btn btn-primary btn-lg" style="background-color: #20c997" href="#" target="_blank" role="button">声音</a>
    <a class="btn btn-primary btn-lg" style="background-color: #ffa3d7" href="#" target="_blank" role="button">视频</a>
    <a class="btn btn-primary btn-lg" style="background-color: yellowgreen" href="/docs" target="_blank" role="button">API</a>
  </div>


</body>
</html>
